#header {
  padding-top:20px;
}
.button {
  background-color: #7d42f4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:"Muli";
  border-radius:10px;
}
.button:hover{
  padding 17px 34px;
  font-size:22;
}
