#header {
  padding-top:20px;
}
.button {
  transition: all 0.2s ease;
  background-color: #7d42f4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:"Muli";
  border-radius:10px;
}
.button:hover {
  padding: 20px 37px;
  font-size:25;
  color:white;
}
#header {
     animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
h1, h2 {
  font-family: "Muli";
}
p {
  font-size:18px;
}
form {
  padding-left:20px;
  padding-right:20px;
}
